<!DOCTYPE html>
<html>

<head>
    <title>Profile Generator</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myControl">
        <p>
            <label>First name:
                <input type="text" ng-model="firstName"> </label>
        </p>
        <p>
            <label>Second name:
                <input type="text" ng-model="lastName"> </label>
        </p>
        <p>
            <label>Birthday:
                <input type="date" ng-model="birthDate"> </label>
        </p>
        <p>
            <label>Shoe size:
                <input type="number" ng-model="shoeSize"> </label>
        </p>
        <p>
            <label>Favourite wizard (multiple answers are allowed):
                <label>
                    <input type="checkbox" ng-model="wizHarry"> Harry </label>
                <label>
                    <input type="checkbox" ng-model="wizRon"> Ron </label>
                <label>
                    <input type="checkbox" ng-model="wizHermoine"> Hermoine </label>
        </p>
        <p>
            <label>Favourite time of the day:
                <input type="time" ng-model="time"> </label>
        </p>
        <p>
            <label>Favourite color:
                <input type="color" id="colorPicker" ng-model="color"> </label>
        </p>

        <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>

        <!-- From here on the profile will be created real time-->

        <h2> {{ firstName }} {{ lastName }}</h2>
        <h4> Shoe size: {{ shoeSize }} </h4>
        <h4> Birthday: {{ birthDate | date: "yyyy-MM-dd" }} </h4>
        <h4> Favourite wizard(s): </h4>
        <ul>
            <li ng-show="wizHarry">Harry</li>
            <li ng-show="wizRon">Ron</li>
            <li ng-show="wizHermoine">Hermoine</li>
        </ul>
        <h4> favourite time of day: {{ time }} </h4>
        <h4> Favourite Color: {{ color }} </h4>
        <button ng-click="log()">Download the data!</button>
    </div>

    <script src="script.js"></script>
</body>

</html>